/* style1.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: rgb(140, 170, 178);
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    background-color: rgb(140, 170, 178);
    text-align: center;
    padding: 10px 0;
}

nav a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#video-section {
    overflow-x: scroll; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent videos from wrapping */
}

.video-container {
    display: inline-block; /* Display videos in a row */
    margin-right: 10px; /* Adjust margin between videos */
    width: 48%; /* Set width for individual videos */
}

/* Sections */
section {
    padding: 40px 20px;
}

/* Section 1 */
section:nth-of-type(1) {
    background-color:beige;
}
section:nth-of-type(2) {
    background-color:beige;
}

/* Section 3 */
section:nth-of-type(3) {
    background-color: beige;
}

/* Section 4 */
section:nth-of-type(4) {
    background-color: beige;
}

.social-links {
    text-align: center; /* Center the links horizontally */
    margin-top: 20px; /* Adjust the margin as needed */
}

.social-links a {
    display: inline-block; /* Display links inline */
    margin: 0 20px; /* Add spacing between links */
}

/* Footer */
footer {
    background-color: aquamarine;
    padding: 20px;
}

/* Footer H4 */
footer h4 {
    text-align: right;
}

/* Center Align Footer Div */
footer div {
    text-align: center;
}


.circular_pic_of_me {
    border-radius: 50%;
    border: 3px solid black;
    width: 270px;
    height: 270px;
    overflow: hidden; /* Ensures the image stays within the circular border */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 70px auto 0; /* Auto for left and right margins to center horizontally, 70px top margin */
}
